<div class="row">
  <div class="col s12">
    <h2 class="left">Lines</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/lines/new">
      <i class="material-icons left">add</i>
      Add new line
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <span class="title bold">LVP</span>
        <p class="red-text">
          Pressure leak verification - Autoclave Fedegari FOW4 - PV19<br>
          Calibration - Thermistor Pt-100 - TE5
        </p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="/lines/1">
          <i class="material-icons left">info_outline</i>
          Access line details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">SVP</span>
        <p>Until Feb 12, 2016</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access line details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">ASP</span>
        <p>Until Feb 16, 2016</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access line details
        </a>
      </li>

    </ul>
  </div>
</div>
