<div class="row">
  <div class="col s12">
    <h2 class="left">Equipments</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/equipments/new">
      <i class="material-icons left">add</i>
      Add new equipment
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <span class="title bold">Autoclave Fedegari FOW4 - PV19</span>
        <p>LSV11</p>
        <p class="red-text">
          Pressure leak verification <br>
          Calibration - Thermistor Pt-100 - TE5
        </p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="equipments/1">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Heat exchanger ABC - HE1</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Recirculation pump P-MAX - RP1</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <p class="red-text">Calibration</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 - TE2</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 - TE3</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 - TE4</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <span class="title bold">Thermistor Pt-100 - TE5</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <p class="red-text">
          Calibration
        </p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 - TE9</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 - TE10</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP201</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP202</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP203</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP204</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP205</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP206</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP207</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP208</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP209</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX - VP212</span>
        <p>LSV11 - Autoclave Fedegari FOW4</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
    </ul>
  </div>
</div>


<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tips for using filter</h4>
    <p>A bunch of text</p>
  </div>
</div>



