<div class="row">
  <div class="col s12">
    <h2>New equipment</h2>
  </div>
</div>

<form>
  <div class="row">
    <div class="col s12">
      <h2>ID</h2>
    </div>
    <div class="input-field col s12 m6">
      <input id="name_input" type="text">
      <label for="name_input">Name</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="code_input" type="text">
      <label for="code_input">Code</label>
    </div>
    <div class="input-field col s12 m6">
      <select id="room_select">
        <option value="" disabled selected>Room</option>
        <option value="LSV1">LSV1</option>
        <option value="LSV3">LSV3</option>
        <option value="LSV4">LSV4</option>
        <option value="LSV5">LSV5</option>
        <option value="LSV6">LSV6</option>
        <option value="LSV7">LSV7</option>
        <option value="LSV8">LSV8</option>
        <option value="LSV10">LSV10</option>
        <option value="LSV11">LSV11</option>
      </select>
    </div>
    <div class="input-field col s12 m6">
      <select multiple id="line_select">
        <option value="" disabled selected>Lines</option>
        <option value="LVP">LVP</option>
        <option value="SVP">SVP</option>
        <option value="ASP">ASP</option>
      </select>
    </div>
    <div class="input-field col s12 m6">
      <input id="tag_input" type="text" aria-required="true">
      <label for="tag_input">EPC tag</label>
    </div>

    <div class="input-field col s12 m6">
      <input id="superequipment_input" type="text" class="eqtypeahead">
      <label for="superequipment_input">Equipment</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2> Activities</h2>
    </div>

    <div class="input-field col s12 m6">
      <input id="activity_input" type="text" class="actypeahead">
      <label for="activity_input">Activity</label>
    </div>
    <div class="input-field col s12 m2">
      <label for="frequency">Frequency</label>
      <input id="frequency" type="number" min="1">
    </div>
    <div class="input-field col s12 m2">
      <select id="activity_select">
        <option value="" disabled selected>Period</option>
        <option value="activity1">week(s)</option>
        <option value="activity2">month(s)</option>
        <option value="activity3">year(s)</option>
      </select>
    </div>
    <div class="input-field col s12 m2">
      <input type="checkbox" id="external" />
      <label for="external">Executed externally</label>
    </div>

    <div class="col s12">
      <a href="#!">Add activity</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn-large grey" href="#">Back</a>
      <button class="waves-effect waves-light btn-large" type="submit" name="action">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>


