<div class="row">
  <div class="col s12">
    <h2>Equipment details</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <h3 class="red-text">Autoclave Fedegari FOW4</h3>
        <p>
          Code: PV19<br>
          Room: LVP123<br>
          ECP tag: 123456789012345678901234<br>
          Lines: line1, line2
        </p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">new_releases</i>
          access equipment history
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5>Issues</h5>
  </div>
</div>

<div class="row">
  <div class="col s12">
   <ul class="collection">
     <li class="collection-item red-text">
      Load 200ml
    </li>
    <li class="collection-item red-text">
      Calibration - Thermistor Pt-100 TE2
    </li>
  </ul>
</div>
</div>

<div class="row">
  <div class="col s12">
    <h2 class="left">Activities</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/equipment_histories/1">
      <i class="material-icons left">theaters</i>
      Access equipment history
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using activities filter</a>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <table class=" highlight responsive-table">  <!-- bordered -->
      <thead>
        <tr>
          <th data-field="state"></th>
          <th data-field="name">Name</th>
          <th data-field="kind">Kind</th>
          <th data-field="frequency">Frequency</th>
          <th data-field="last-log">Last log</th>
          <th data-field="last-logger">Logger</th>
          <th data-field="log-review">Log review</th>
          <th data-field="log-reviewer">Reviewer</th>
          <th data-field="due-within">Due</th>
          <th data-field="new-log"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Replace filter PPP1-X12 position on the upper lavel</a></td>
          <td>Maintenance</td>
          <td>6 months</td>
          <td>Nov 12, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 22, 2015</td>
          <td>Abramo Civera</td>
          <td>May 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle yellow">lock</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Replace pump</a></td>
          <td>Maintenance</td>
          <td>6 months</td>
          <td>Dec 14, 2015</td>
          <td>Ivan Besseghini</td>
          <td>---</td>
          <td>---</td>
          <td>Dec 20, 2015</td>
          <td>
            <a class="btn-flat disabled" href="#!">
              <i class="material-icons left">not_interested</i>
              not loggable
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle yellow">lock</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Replace pump</a></td>
          <td>Maintenance</td>
          <td>6 months</td>
          <td>Dec 14, 2015</td>
          <td>Ivan Besseghini</td>
          <td>---</td>
          <td>---</td>
          <td>Dec 20, 2015</td>
          <td>
            <a class="btn-flat" href="/reviews/new">
              <i class="material-icons left">visibility</i>
              review
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle red">warning</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Load 200ml</a></td>
          <td>Validation</td>
          <td>12 months</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>Mar 18, 2015</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="/logs/new">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col s12">
    <h2>SubEquipments</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using subequipments filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE1</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <span class="title bold">Thermistor Pt-100 TE2</span>
        <p class="red-text">Calibration</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
    </ul>
  </div>
</div>



<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tips for using filter</h4>
    <p>A bunch of text</p>
  </div>
</div>
