<div class="row">
  <div class="col s12">
    <h2>Equipment details</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <h3 class="red-text">Autoclave Fedegari FOW4</h3>
        <p>
          Code: PV19<br>
          Room: LSV11<br>
          ECP tag: 123456789012345678901234<br>
          Lines: LVP, SVP
        </p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">new_releases</i>
          update equipment details
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5>Issues</h5>
  </div>
</div>

<div class="row">
  <div class="col s12">
   <ul class="collection">
     <li class="collection-item red-text">
      Pressure leak verification
    </li>
    <li class="collection-item red-text">
      Calibration - Thermistor Pt-100 TE5
    </li>
  </ul>
</div>
</div>

<div class="row">
  <div class="col s12">
    <h2 class="left">Activities</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/equipment_histories/1">
      <i class="material-icons left">theaters</i>
      Access equipment history
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using activities filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table class=" highlight responsive-table">  <!-- bordered -->
      <thead>
        <tr>
          <th data-field="state"></th>
          <th data-field="name">Name</th>
          <th data-field="kind">Kind</th>
          <th data-field="frequency">Frequency</th>
          <th data-field="last-log">Last log</th>
          <th data-field="last-logger">Logger</th>
          <th data-field="log-review">Log review</th>
          <th data-field="log-reviewer">Reviewer</th>
          <th data-field="due-within">Due</th>
          <th data-field="new-log"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Closing doors: limit switch closing and opening doors check</a></td>
          <td>Maintenance</td>
          <td>1 month</td>
          <td>Dec 12, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Dec 22, 2015</td>
          <td>Abramo Civera</td>
          <td>Jan 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle yellow">lock</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Closing doors: seal and alignment photocell check</a></td>
          <td>Maintenance</td>
          <td>1 month</td>
          <td>Dec 14, 2015</td>
          <td>Ivan Besseghini</td>
          <td>---</td>
          <td>---</td>
          <td>Dec 20, 2015</td>
          <td>
            <a class="btn-flat disabled" href="#!">
              <i class="material-icons left">not_interested</i>
              not loggable
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle yellow">lock</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Check mains water filter clogging</a></td>
          <td>Maintenance</td>
          <td>1 month</td>
          <td>Dec 14, 2015</td>
          <td>Ivan Besseghini</td>
          <td>---</td>
          <td>---</td>
          <td>Dec 21, 2015</td>
          <td>
            <a class="btn-flat" href="/reviews/new">
              <i class="material-icons left">visibility</i>
              review
            </a>
          </td>
        </tr>

        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Check steam filter clogging</a></td>
          <td>Maintenance</td>
          <td>1 month</td>
          <td>Nov 11, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 22, 2015</td>
          <td>Abramo Civera</td>
          <td>Dec 11, 2015</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Check water level indicator</a></td>
          <td>Maintenance</td>
          <td>1 week</td>
          <td>Nov 10, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 11, 2015</td>
          <td>Abramo Civera</td>
          <td>Dec 17, 2015</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Compressed air filter replacement</a></td>
          <td>Maintenance</td>
          <td>1 year</td>
          <td>Nov 12, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 17, 2015</td>
          <td>Abramo Civera</td>
          <td>Nov 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Gasket cover seal mains water filter replacement</a></td>
          <td>Maintenance</td>
          <td>1 year</td>
          <td>Nov 10, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 25, 2015</td>
          <td>Abramo Civera</td>
          <td>Nov 10, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Gasket cover seal steam filter replacement</a></td>
          <td>Maintenance</td>
          <td>1 year</td>
          <td>Oct 12, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Oct 22, 2015</td>
          <td>Abramo Civera</td>
          <td>Oct 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Heat distribution in chamber verification in absence of load</a></td>
          <td>Validation</td>
          <td>3 years</td>
          <td>Apr 23, 2014</td>
          <td>Abramo Civera</td>
          <td>May 2, 2014</td>
          <td>Mattia Dusci</td>
          <td>Apr 23, 2017</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Heat penetration in chamber in presence of maximum load 50/100 ml bags</a></td>
          <td>Validation</td>
          <td>1 year</td>
          <td>Jun 12, 2015</td>
          <td>Abramo Civera</td>
          <td>Jun 18, 2015</td>
          <td>Mattia Dusci</td>
          <td>Jun 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Heat penetration in chamber in presence of maximum load 150/200 ml bags</a></td>
          <td>Validation</td>
          <td>1 year</td>
          <td>Feb 11, 2015</td>
          <td>Abramo Civera</td>
          <td>Feb 27, 2015</td>
          <td>Monica Petrovcic</td>
          <td>Feb 11, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Heat penetration twist off in presence of maximum load</a></td>
          <td>Validation</td>
          <td>1 year</td>
          <td>Sep 1, 2015</td>
          <td>Abramo Civera</td>
          <td>Sep 2, 2015</td>
          <td>Monica Petrovcic</td>
          <td>Sep 1, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">eat penetration verification in chamber in presence of minimum load 50/100 ml</a></td>
          <td>Validation</td>
          <td>3 years</td>
          <td>Jul 15, 2013</td>
          <td>Abramo Civera</td>
          <td>Jul 16, 2013</td>
          <td>Monica Petrovcic</td>
          <td>Jul 15, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Heat penetration verification in chamber in presence of minimum load 150/200 ml</a></td>
          <td>Validation</td>
          <td>3 years</td>
          <td>Jul 17, 2013</td>
          <td>Abramo Civera</td>
          <td>Jul 19, 2013</td>
          <td>Monica Petrovcic</td>
          <td>Jul 17, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle red">warning</i></td>
          <td><a href="!#" class="light-blue-text text-darken-1">Pressure leak verification</a></td>
          <td>Validation</td>
          <td>1 year</td>
          <td>Nov 17, 2014</td>
          <td>Abramo Civera</td>
          <td>Nov 19, 2014</td>
          <td>Mattia Dusci</td>
          <td>Nov 17, 2015</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="/logs/new">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Pressure transducer control</a></td>
          <td>Maintenance</td>
          <td>1 year</td>
          <td>Nov 12, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 17, 2015</td>
          <td>Abramo Civera</td>
          <td>Nov 12, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
        <tr>
          <td><i class="material-icons circle green">done</i></td>
          <td><a href="/activity_histories/1" class="light-blue-text text-darken-1">Safety valves replacement</a></td>
          <td>Maintenance</td>
          <td>1 year</td>
          <td>Nov 13, 2015</td>
          <td>Ivan Besseghini</td>
          <td>Nov 17, 2015</td>
          <td>Abramo Civera</td>
          <td>Nov 13, 2016</td>
          <td>
            <a class="waves-effect waves-teal btn-flat" href="#!">
              <i class="material-icons left">input</i>
              add log
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col s12">
    <h2>SubEquipments</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using subequipments filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Heat exchanger ABC HE1</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Recirculation pump P-MAX RP1</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP201</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP202</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP203</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP204</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP205</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP206</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP207</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP208</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP209</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Pneumatic valve XXX VP212</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE2</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE3</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE4</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <span class="title bold">Thermistor Pt-100 TE5</span>
        <p class="red-text">Calibration</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE9</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">done</i>
        <span class="title bold">Thermistor Pt-100 TE10</span>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="#!">
          <i class="material-icons left">info_outline</i>
          Access equipment details
        </a>
      </li>
    </ul>
  </div>
</div>



<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tips for using filter</h4>
    <p>A bunch of text</p>
  </div>
</div>
