<ul id="archive-dropdown" class="dropdown-content">
  <li><a href="#">Activities</a></li>
  <li class="divider"></li>
  <li><a href="#">Audit</a></li>
</ul>

<ul id="settings-dropdown" class="dropdown-content">
  <li><a href="/equipments">Equipments</a></li>
  <li class="divider"></li>
  <li><a href="/activities">Activities</a></li>
</ul>

<ul id="access-dropdown" class="dropdown-content">
  <li><a href="#">Users</a></li>
  <li class="divider"></li>
  <li><a href="#">Roles</a></li>
  <li class="divider"></li>
  <li><a href="#">Devices</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <li>
          <a class="dropdown-button" href="#!" data-activates="archive-dropdown">
            <i class="material-icons left">search</i>
            Archive
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button" href="#!" data-activates="settings-dropdown">
            <i class="material-icons left">settings</i>
            Settings
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button" href="#!" data-activates="access-dropdown">
            <i class="material-icons left">vpn_key</i>
            Access
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#"><i class="material-icons">power_settings_new</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Audit</a></li>
        <li><a href="#">...</a></li>
        <li class="divider"></li>
        <li><a href="#">Equipments</a></li>
        <li><a href="#">Activities</a></li>
        <li class="divider"></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Devices</a></li>
        <li class="divider"></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
