<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <li><a href="/activities">Activities</a></li>
        <li><a href="/equipments">Equipments</a></li>
        <li><a href="/lines">Lines</a></li>
        <li><a href="/extraordinary_maintenances/new">Extraordinary Maintenance</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#"><i class="material-icons">vpn_key</i></a></li>
        <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#"><i class="material-icons">power_settings_new</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/activities">Activities</a></li>
        <li><a href="/equipments">Equipments</a></li>
        <li><a href="/lines">Lines</a></li>
        <li><a href="/extraordinary_maintenances/new">Extraordinary Maintenance</a></li>
        <li class="divider"></li>
        <li><a href="#">Audit</a></li>
        <li class="divider"></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Devices</a></li>
        <li class="divider"></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
