<div class="row">
  <div class="col s12">
    <h2>New extraordinary maintenance</h2>
  </div>
</div>

<form>
  <div class="row">
    <div class="input-field col s12 m6">
      <input id="equipment_input" type="text" class="eqtypeahead">
      <label for="equipment_input">Equipment</label>
    </div>

    <div class="input-field col s12 m6">
      <input id="activity_input" type="text">
      <label for="activity_input">Activity</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Note</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4 l3">
      <a class="waves-effect waves-light btn-large grey" href="#">Back</a>
      <button class="waves-effect waves-light btn-large" type="submit" name="action">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
    <div class="input-field col s12 m8 l9">
      <input id="password_input" type="text" class="validate" required="" aria-required="true">
      <label for="password_input" data-error="wrong">Password</label>
    </div>
  </div>
</form>
