<div class="row">
  <div class="col s12">
    <h2 class="left">Activities</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/activities/new">
      <i class="material-icons left">add</i>
      Add new activity
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">hearing</i>
        <span class="title bold">Calibration</span>
        <p>Calibration <br>
          Scheduled for 21 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Replace filter PPP1-X12 position on the upper lavel</span>
        <p>Maintenance <br>
          Scheduled for 3 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Load 200ml</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Replace pump</span>
        <p>Maintenance <br>
          Scheduled for 7 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
    </ul>
  </div>
</div>


<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tips for using filter</h4>
    <p>A bunch of text</p>
  </div>
</div>
