<div class="row">
  <div class="col s12">
    <h2 class="left">Activities</h2>
    <a class="waves-effect waves-teal btn-flat secondary-content" href="/activities/new">
      <i class="material-icons left">add</i>
      Add new activity
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form>
      <div class="input-field">
        <input id="filter" type="text">
        <label for="filter">Filter</label>
      </div>
    </form>
  </div>
  <div class="col s12">
    <a href="#modal1" class="modal-trigger">Tips for using filter</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">121°C check</span>
        <p>Maintenance<br>
          Scheduled for 21 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">hearing</i>
        <span class="title bold">Calibration</span>
        <p>Calibration <br>
          Scheduled for 21 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Closing doors: limit switch closing and opening doors check</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Closing doors: seal and alignment photocell check</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
            <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Check mains water filter clogging</span>
          <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Check steam filter clogging</span>
        <p>Maintenance <br>
          Scheduled for 3 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Check water level indicator</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Compressed air circuit seal check</span>
        <p>Maintenance <br>
          Scheduled for 10 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
            <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Compressed air filter replacement</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">External visual inspection</span>
        <p>Maintenance <br>
          Scheduled for 1 equipment</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Gasket cover seal mains water filter replacement</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Gasket cover seal steam filter replacement</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat distribution in chamber verification in absence of load</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat penetration in chamber in presence of maximum load 50/100 ml bags.</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat penetration in chamber in presence of maximum load 150/200 ml bags</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>

            <li class="collection-item avatar">
<i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat distribution in chamber verification in absence of load</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
<i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat penetration twist off in presence of maximum load</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat penetration verification in chamber in presence of minimum load 50/100 ml</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
            <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Heat penetration verification in chamber in presence of minimum load 150/200 ml</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="activities/1">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">verified_user</i>
        <span class="title bold">Pressure leak verification</span>
        <p>Validation <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Pressure transducer control</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
       <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Safety valves replacement</span>
        <p>Maintenance <br>
          Scheduled for 2 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Seals disassembly and inspection</span>
        <p>Maintenance <br>
          Scheduled for 4 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Seals leak control</span>
        <p>Maintenance <br>
          Scheduled for 7 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle grey  darken-3">schedule</i>
        <span class="title bold">Usage verification</span>
        <p>Maintenance <br>
          Scheduled for 9 equipments</p>
        <a class="waves-effect waves-teal btn-flat secondary-content" href="!#">
          <i class="material-icons left">info_outline</i>
          Access activity details
        </a>
      </li>
    </ul>
  </div>
</div>


<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tips for using filter</h4>
    <p>A bunch of text</p>
  </div>
</div>
