<div class="row">
  <div class="col s12 m9">
    <h2>Calibrations logbook
      <span class="right"><a class="btn-floating waves-effect waves-light tooltipped" data-position="left" data-delay="50" data-tooltip="Add" href="new_calibration.html"><i class="material-icons">add</i></a></span>
    </h2>

    <table class="striped">
      <thead>
        <tr>
          <th data-field="sensor">Sensor</th>
          <th data-field="code">Code</th>
          <th data-field="equipment">Equipment</th>
          <th data-field="room">Room</th>
          <th data-field="measurement">Measurement</th>
          <th data-field="frequency">Frequency</th>
          <th data-field="executed_on">Executed on</th>
          <th data-field="expiring_on">Expiring on</th>
          <th data-field="actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr><td>Thermistor Pt-100</td><td>TE2</td><td>Autoclave Fedegari FOW4 (ID: PV19)</td><td>LSV11</td><td>Temperature</td><td>6 months</td><td>25/11/2015</td><td>25/05/2016</td>
          <td>
            <a class="tooltipped" data-position="left" data-delay="50" data-tooltip="Update" href="#"><i class="small material-icons">loop</i></a>
            <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Remove"href="#"><i class="small material-icons">not_interested</i></a>
          </td>
        </tr>
        <tr><td>Thermistor Pt-100</td><td>TE3</td><td>Autoclave Fedegari FOW4 (ID: PV19)</td><td>LSV11</td><td>Temperature</td><td>6 months</td><td>01/11/2015</td><td>01/05/2016</td><td></td></tr>
        <tr class=" red lighten-4"><td>Conductimeter</td><td>C2OS</td><td>Impianto doppia osmosi inversa (ID: WT02)</td><td>WP3</td><td>Bassa conducibilità H20 osmosata</td><td>6 months</td><td>25/05/2015</td><td>25/11/2015</td><td></td></tr>
        <tr><td>Thermistor Pt-100</td><td>TE4</td><td>Autoclave Fedegari FOW4 (ID: PV19)</td><td>LSV11</td><td>Temperature</td><td>6 months</td><td>25/11/2015</td><td>25/05/2016</td><td></td></tr>
        <tr><td>Thermistor Pt-100</td><td>TE5</td><td>Autoclave Fedegari FOW4 (ID: PV19)</td><td>LSV11</td><td>Temperature</td><td>6 months</td><td>25/11/2015</td><td>25/05/2016</td><td></td></tr>
        <tr><td>Thermistor Pt-100</td><td>TE6</td><td>Autoclave Fedegari FOW4 (ID: PV19)</td><td>LSV11</td><td>Temperature</td><td>6 months</td><td>25/11/2015</td><td>25/05/2016</td><td></td></tr>
        <tr class="yellow lighten-4"><td>Conductimeter</td><td>CE012</td><td>Distillatore Stilmas MS 504 S (ID: WT05)</td><td>WP3</td><td>Bassa conducibilità H20 osmosata</td><td>6 months</td><td>25/06/2015</td><td>25/12/2015</td><td></td></tr>
      </tbody>
    </table>
  </div>

  <div class="col s0 m3">
    <h3>Placeholder</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
