<div class="row">
  <div class="col s12 m9">
    <h2>Add a calibration</h2>
    <form>
      <div class="row">
        <div class="input-field col s11 m4">
          <i class="material-icons prefix">web</i>
          <select id="code_select">
            <option value="" disabled selected>Choose sensor code</option>
            <option value="TE1">TE1</option>
            <option value="TE2">TE2</option>
            <option value="TE3">TE3</option>
          </select>





          <!--
          <div class="input-field" id="code_input_container" data-behavior="hidden">
            <input id="code_input" type="text">
            <label for="code_input">Code</label>
          </div>
          -->
        </div>
        <!--
        <div class="col s1 m1">
          <input type="checkbox" class="filled-in" id="code_checkbox" data-behavior="toggle-field" data-target="code"/>
          <label for="code_checkbox"></label>
        </div>
        -->

        <div class="col s11 m6">
          <select id="sensor_select">
            <option value="" disabled selected>Choose sensor type</option>
            <option value="Thermistor Pt-100">Thermistor Pt-100</option>
            <option value="Conductimeter">Conductimeter</option>
            <option value="pH-meter">pH-meter</option>
          </select>
          <div class="input-field" id="sensor_input_container" data-behavior="hidden">
            <input id="sensor_input" type="text">
            <label for="sensor_input">Sensor</label>
          </div>
        </div>
        <div class="col s1 m1">
          <input type="checkbox" class="filled-in" id="sensor-checkbox" data-behavior="toggle-field" data-target="sensor"/>
          <label for="sensor-checkbox"></label>
        </div>
      </div>

      <div class="row">
        <div class="col s11 m4">
          <select id="room_select">
            <option value="" disabled selected>Choose room</option>
            <option value="LSV1">LSV1</option>
            <option value="LSV2">LSV2</option>
            <option value="ASP3">ASP3</option>
          </select>
          <div class="input-field" id="room_input_container" data-behavior="hidden">
            <input id="room_input" type="text">
            <label for="room_input">Room</label>
          </div>
        </div>
        <div class="col s1 m1">
          <input type="checkbox" class="filled-in" id="room_checkbox" data-behavior="toggle-field" data-target="room"/>
          <label for="room_checkbox"></label>
        </div>

        <div class="col s11 m6">
          <select id="equipment_select">
            <option value="" disabled selected>Choose equipment</option>
            <option value="Autoclave FOW4">Autoclave FOW4</option>
            <option value="Autoclave FOA6/EM">Autoclave FOA6/EM</option>
            <option value="Distillatore Stilmas MS 504 S">Distillatore Stilmas MS 504 S</option>
          </select>
          <div class="input-field" id="equipment_input_container" data-behavior="hidden">
            <input id="equipment_input" type="text">
            <label for="equipment_input">Equipment</label>
          </div>
        </div>
        <div class="col s1 m1">
          <input type="checkbox" class="filled-in" id="equipment_checkbox" data-behavior="toggle-field" data-target="equipment"/>
          <label for="equipment_checkbox"></label>
        </div>
      </div>

      <div class="row">
        <div class="col s11 m4">
          <select id="measurement_select">
            <option value="" disabled selected>Choose measurement</option>
            <option value="Temperature">Temperature</option>
            <option value="Bassa conducibilita H20 osmosata">Bassa conducibilita H20 osmosata</option>
          </select>
          <div class="input-field" id="measurement_input_container" data-behavior="hidden">
            <input id="measurement_input" type="text">
            <label for="measurement_input">Measurement</label>
          </div>
        </div>
        <div class="col s1 m1">
          <input type="checkbox" class="filled-in" id="measurement_checkbox" data-behavior="toggle-field" data-target="measurement"/>
          <label for="measurement_checkbox"></label>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m2">
          <label for="frequency">Frequency in months</label>
          <input id="frequency" type="number" class="validate" min="1" value="1">
        </div>
        <div class="col s12 m2">
          <label for="executed_on">Executed on</label>
          <input id="executed_on" type="date" class="datepicker" data-value='<%= Date.today.strftime("%d/%m/%Y") %>'>
        </div>
        <div class="col s12 m6 push-m1">
          <div class="input-field">
            <textarea id="note" class="materialize-textarea"></textarea>
            <label for="note">Note</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn-large grey" href="#">Back</a>
          <a class="waves-effect waves-light btn-large" href="#">Save</a>
        </div>
      </div>
    </form>
  </div>

  <div class="col s0 m3">
    <h3>Placeholder</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
