<div class="row">
  <div class="col s12">
    <h2>Log review</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle red">warning</i>
        <h3 class="red-text">Autoclave Fedegari FOW4</h3>
        <p>
          Code: PV19<br>
          Room: LSV11<br>
          ECP tag: 123456789012345678901234<br>
          Lines: LVP, SVP
        </p>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle darken-3">schedule</i>
        <h3>Check mains water filter clogging</h3>
        <p>
          Kind: Maintenance<br>
          Frequency: 1 month<br>
          Log: December 14, 2015<br>
          Logger: Ivan Besseghini<br>
          Log note: Filter appears clean.<br>
          Due: December 21, 2015
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m6">
      <select id="room_select">
        <option value="" disabled selected>Outcome</option>
        <option value="calibration">positive</option>
        <option value="maintenance">negative</option>
      </select>
    </div>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Review note</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4 l3">
        <a class="waves-effect waves-light btn-large grey" href="#">Back</a>
        <button class="waves-effect waves-light btn-large" type="submit" name="action">Save
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="input-field col s12 m8 l9">
          <input id="password_input" type="text" class="validate" required="" aria-required="true">
          <label for="password_input" data-error="wrong">Password</label>
      </div>
    </div>
  </form>
</div>


